# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Logs
*.log
